<ion-header>
  <ion-toolbar>
    <ion-title>Autenticação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Autenticação
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <form class="login-form" [formGroup]="login">
    <ion-list>
      <ion-item lines="inset">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="text" formControlName="email" name="email"></ion-input>
      </ion-item>
      <ion-item lines="inset">
        <ion-label position="floating">Senha</ion-label>
        <ion-input clearInput type="password" formControlName="password" name="password"></ion-input>
      </ion-item>
      <ion-item lines="none" class="extra-padding">
        <ion-button color="primary" expand="block" (click)="authenticate()" slot="end" size="normal">
          <ion-icon slot="end" name="log-in-outline"></ion-icon>
          Acessar
        </ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
