<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Selecionar institucionalizado
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logoff()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <ion-button color="danger" fill="outline" (click)="logoff()">Sair</ion-button>
        Selecionar institucionalizado
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class='elders-list'>
    <ion-list *ngIf="elders.length > 0">
      <ion-item *ngFor="let elder of elders" lines="inset">
        <ion-label>{{ elder.name }}</ion-label>
        <ion-button slot="end" (click)="selectElder(elder.id)">
          Escolher
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="elders.length === 0" lines="inset">
      <ion-item>
        <ion-label>Não há nenhum institucionalizado cadastrado no sistema</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
